.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.container iframe {
  padding-left: 20px;
  width: 519px;
  height: 292px;
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 568px) {
  .container iframe {
    width: 43vh;
    height: 25vh;
  }
}
