@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.NameAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-color: rgb(19, 16, 16);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NameAnim h1 {
  font: 700 20vw "Caveat", cursive;
  color: #8a2ce2;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
  display: block;
}

.container {
  min-height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo {
  max-width: 100%; /* Make sure the SVG does not overflow */
  height: auto; /* Maintain aspect ratio */
}

.rangeContainer {
  margin: 2rem auto 0;
  text-align: center;
}

.range {
  direction: rtl;
}

.logo {
  max-width: 780px;
  height: 500px;
}
@media (max-width: 767px) {
  .logo {
    max-width: 767px;
    height: auto;
  }
}
