.About {
  padding: 24px;
  max-width: 1200px;
  width: 100%;
}

.About .songsHeading {
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.About .text {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.About h2 {
  align-items: left;
  text-align: left;
  color: rgb(167, 94, 235);
}
@media (min-width: 767px) {
  .About .text p {
    max-width: 60%;
    text-align: left;
  }

  .About .songs {
    max-width: 100% !important;
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .About p {
    max-width: 90%;
    text-align: center;
  }
  .About .Links2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.About p {
  align-items: left;
  color: rgb(155, 155, 155);
}

#AHHH {
  color: rgb(167, 94, 235);
}

.About .BG {
  background-color: rgb(0, 10, 66);
  height: 200px;
  width: 100%;
  padding: 0;
}

.About .Links2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 234px;
  height: 178px;
}
