.Project1 {
  padding: 24px;
  max-width: 1200px;
  width: 100%;
}

#WorkingOnP {
  color: rgb(97, 97, 97);
  text-align: left;
}

.Project1 .BG {
  background-color: rgb(0, 71, 60);
  height: 200px;
  width: 100%; /* Ensure the background is also 100% width */
  padding: 0;
  z-index: 1; /* Ensure it appears above other elements */
}

.Project {
  height: 130px;
  border-radius: 8px;
  border-width: 5px;
  margin-bottom: 10px;
}
