footer {
  padding-left: 50px;
}

.MuiListItemAvatar-root {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
}

@media (max-width: 840px) {
  .work-date {
    display: inline-block;
    box-sizing: border-box;
    max-width: fit-content;
    padding-right: 4px !important;
  }
}