.full-width-wrapper {
    width: 90vw;  /* Use the full viewport width */
    margin: 0;
  }
  .half-width-wrapper {
    text-align: left;
    width: 70vw;
    margin: 0 auto;
  }
  .center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
    .half-width-wrapper h1{
      font-family: 'Roboto', sans-serif;
    }
p{
  color:azure;
}
h2{
  color:rgb(168, 118, 214);
}
h3{
  color:rgb(190, 156, 221);
}

.flexbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.flex-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: adds rounded corners to images */
}
