.resume {
  padding: 24px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resumeIframe {
  width: 100%;
  height: 90vh;
  border: 0;
}

@media (max-width: 767px) {
  .resumeIframe {
    height: 500px;
  }
}
