.resume {
  padding: 24px;
  width: 100vw;
  min-width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
}

.resumeIframe {
  width: 100%;
  min-width: 100%;
  flex: 1;
  border: 0;
}

@media (max-width: 767px) {
  .resumeIframe {
    height: 500px;
  }
}
